@font-face {
    font-family: 'MonsterClubHouse';
    src: url('/src/assets/fonts/monster-clubhouse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'PoppinsRegular';
    src: url('/src/assets/fonts/poppins-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'PoppinsMedium';
    src: url('/src/assets/fonts/poppins-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}