@use 'variables';
@use 'mixins';
@use 'fonts';

.footer {
  background: variables.$backgroubd-footer;
  height: 167px;
  display: flex;
  align-items: center;
  &__text {
    @include mixins.flex-center();
    flex-grow: 1;
    font-family: variables.$font-family-title;
    font-size: 56px;
    color: variables.$second-color;
    font-weight: normal;
  }

  &__img {
    max-width: 573px;
    margin-top: -50px;
    position: relative;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 116px;
    &__text {
      font-size: 39px;
      justify-content: flex-end;
      padding-right: 8px;
    }
  
    &__img {
      max-width: 379px;
      margin-top: -26px;
      right: 0;
      padding-right: 50px;
    }
  }
}

@media screen and (max-width: 428px) {
  .footer {
    height: 70px;
    &__text {
      font-size: 23px;
      padding-right: 0;
      text-align: center;
      justify-content: center;
      padding-left: 8px;
    }
  
    &__img {
      max-width: 230px;
      margin-top: -20px;
      padding-right: 4px;
    }
  }
}