@use 'variables';

.footer {
  background-color: #d9e6f2;
  text-align: center;
  padding: 20px;

  .sponsor-section {
    h3 {
      font-size: 1.5rem;
      color: variables.$text-color;
      margin-bottom: 10px;
    }

    .sponsor-logos {
      display: flex;
      justify-content: center;
      gap: 15px;

      img {
        width: 100px;
        height: auto;
        border-radius: 10px;
        box-shadow: variables.$shadow;
      }
    }
  }
}