@use 'variables';
@use 'mixins';

.hero-section {
  @include mixins.flex-center();
  background-color: variables.$light-bg;
  position: relative;
}

.hero-text {
  position: absolute;
  font-family: variables.$font-family-text-regular;
  font-size: 74px;
  color: variables.$white-color;
  font-weight: normal;
  line-height: 1;
  margin: 35px 0 0;
  left: 261px;
  &__inner-text {
    font-family: variables.$font-family-title;
    font-size: 67px;
    display: block;
    position: relative;
    top: -16px;
    left: 2px;
  }
}

.hero-image-content {
  width: 100%;
  line-height: 0;
  &__img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero-text {
    margin-top: 24px;
    left: 121px;
  }
}

@media screen and (max-width: 428px) {
  .hero-image-content {
    overflow: hidden;
    height: 234px;
    @include mixins.flex-center();
    &__img {
      width: auto;
      height: 100%;
    }
  }
  .hero-text {
    font-size: 51px;
    margin-top: 16px;
    left: 42px;
    &__inner-text {
      font-size: 51px;
    }
  }
}