@use 'variables' as *;
@use 'mixins' as *;

.mobile-navbar {
  padding: 16px;
  position: relative;
  z-index: 1;
  margin-top: -48px;

  .mobile-links {
    width: 100%;
    list-style: none;
    @include flex-center();
    flex-wrap: wrap;
    gap: 14px;
    padding: 0;
    margin: 0;
  }

  .mobile-link-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 8px;
    padding: 8px 4px;
    width: calc(106px - 8px);
    height: calc(85px - 16px);
    background: $background-card;
    box-shadow: $card-shadow2;
    border-radius: 10px;
    cursor: pointer;
    &__text {
      font-family: $font-family-text-medium;
      font-size: 13px;
      line-height: 20px;
    }
  }
}
