@use 'variables';
@use 'mixins';
@use 'fonts';

.navbar {
  @include mixins.flex-center();
  justify-content: space-between;
  gap: 150px;
  background-color: variables.$white-color;
  padding: 10px 62px 10px 70px;
  position: relative;
  z-index: 1;
  box-shadow: variables.$shadow-color 0px 10px 10px -5px;
  overflow: hidden;

  .logo {
    &__recipe-text {
      font-family: variables.$font-family-title;
      font-size: 40px;
      letter-spacing: 1.15px;
      color: variables.$second-color;
      line-height: 48px;
    }
    &__app-text {
      font-family: variables.$font-family-text-regular;
      letter-spacing: 0.86px;
      color: variables.$primary-color;
      font-size: 30px;
      line-height: 46px;
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    width: 100%;
  }

  .nav-item {
    font-family: variables.$font-family-text-medium;
    font-size: 13px;
    line-height: 20px;
    &__link {
      text-decoration: none;
      color: variables.$second-color;
      cursor: pointer;
      &:hover {
        color: variables.$primary-color;
      }
      &.active {
        color: variables.$primary-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding-left: 50px;
    padding-right: 32px;
    gap: 0; 
  }
}