@use 'variables';
@use 'fonts';
@use "sass:color";

.new-recipes {
  margin: 32px 50px;
  &__title {
    font-size: 67px;
    line-height: 80px;
    color: variables.$primary-color;
    margin: 0 0 20px;
    font-family: variables.$font-family-title;
    font-weight: normal;
    padding-left: 20px;
    &--error {
      margin-bottom: 0;
    }
  }
}

.list-container {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recipe-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  min-height: 400px;
  width: 100%;
  padding: 50px 0 0;
  &--error {
    padding-top: 0;
  }
  &__error-message {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 32px;
    width: 90%;
    height: fit-content;
    border-radius: 8px;
    font-family: variables.$font-family-text-medium;
    color: color.adjust(variables.$primary-color, $lightness: 20%);
    border: 1px solid color.adjust(variables.$primary-color, $lightness: 35%);
    background-color: color.adjust(variables.$primary-color, $lightness: 40%);
  }
}

@media screen and (max-width: 768px) {
  .new-recipes {
    margin: 20px 50px 16px;
    &__title {
      font-size: 54px;
      line-height: 65px;
      padding-left: 0;
    }
  }

  .recipe-list {
    padding: 50px 16px 0;
    width: fit-content;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 428px) {
  .new-recipes {
    margin: 20px 16px 16px;
    &__title {
      text-align: center;
    }
  }

  .recipe-list {
    min-height: 310px;
    padding: 50px 2px 0;
    gap: 20px;
  }
}