@use 'variables';
@use 'fonts';

.new-recipes {
  margin: 32px 50px;
  &__title {
    font-size: 67px;
    line-height: 80px;
    color: variables.$primary-color;
    margin: 0 0 20px;
    font-family: MonsterClubHouse, sans-serif;
    font-weight: normal;
    padding-left: 20px;
  }
}

.list-container {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recipe-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  min-height: 400px;
  width: 100%;
  padding: 50px 0 0;
}

@media screen and (max-width: 768px) {
  .new-recipes {
    margin: 20px 50px 16px;
    &__title {
      font-size: 54px;
      line-height: 65px;
    }
  }

  .recipe-list {
    padding: 50px 16px 0;
    width: fit-content;
    justify-content: flex-start;
  }
}