@use 'variables';
@use 'fonts';

.new-recipes {
  &__title {
    font-size: 67px;
    line-height: 80px;
    color: variables.$primary-color;
    margin: 0;
    padding: 32px 70px 70px;
    font-family: MonsterClubHouse, sans-serif;
    font-weight: normal;
  }

  .recipe-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    min-height: 430px;
  }
}