@use "sass:color";

$primary-color: #D84A4A;
$second-color: #425966;
$light-bg: #f9f9f9;
$white-color: #ffffff;
$shadow-color: #8395A7;
$box-shadow: 0 0 4px color.adjust($shadow-color, $lightness: 20%);
$card-shadow1: 4px 4px 12px color.adjust($shadow-color, $lightness: 20%);
$card-shadow2: 0px 5px 9px #8395A766;
$background-card: transparent linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
$backgroubd-footer: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;
$font-family-title: 'MonsterClubHouse', sans-serif;
$font-family-text-regular: 'PoppinsRegular', sans-serif;
$font-family-text-medium: 'PoppinsMedium', sans-serif;
